body {
  padding: 70px;
  color: aliceblue;
  background-color: #21232a;
}

hr {
  height: 1px;
  background-color: #ccc;
  border: none;
}

table {
  width: 100%;
  text-align: center;
}

.table-x {
  overflow-x: auto;
  max-height: 600px;
}

.complete {
  text-decoration: line-through;
}

.title-color {
  color: rgb(114, 114, 114);
  font-size: large;
}
